<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351989017861-6nvce5lt8a8nrcdhhtth902oq3eccaqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351989017861-6nvce5lt8a8nrcdhhtth902oq3eccaqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCqnSoW3Yu2-RlE7PcQZnn07blwnIOIVbM</string>
	<key>GCM_SENDER_ID</key>
	<string>351989017861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flightBooking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>airlift-57e74</string>
	<key>STORAGE_BUCKET</key>
	<string>airlift-57e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351989017861:ios:63b1d5cea3924918ac5b6c</string>
	<key>DATABASE_URL</key>
	<string>https://airlift-57e74-default-rtdb.firebaseio.com</string>
</dict>
</plist>